.example-spacer {
    flex: 1 1 auto;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .navbar {
    list-style-type: none;
    margin: 30px auto;
    padding: 25px auto;
  }

  .navbar__item {
    margin-left: 10px;
    display: inline;
  }

  