<h1 mat-dialog-title>Characters</h1>
<form [formGroup]="characterForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Character Name</mat-label>
            <input formControlName="characterName" matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Character status</mat-label>
            <mat-select formControlName="status" placeholder="status">
                <mat-option value="Alive">Alive</mat-option>
                <mat-option value="Dead">Dead</mat-option>
                <mat-option value="Unknown">Unknown</mat-option>
            </mat-select>
          </mat-form-field>
          <label for=""><h1>Species</h1></label>
          <mat-radio-group formControlName="species" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let species of speciesList" [value]="species">
                {{species}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Character Origin</mat-label>
            <input formControlName="origin" matInput placeholder="Origin">
          </mat-form-field>
    </div>
</form>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button class="button__save" mat-raised-button color="primary" (click)="addCharacter()">{{actionBtn}}</button>
</div>