<h1 mat-dialog-title>Dialog Title</h1>
<form [formGroup]="productForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Character Name</mat-label>
            <input formControlName="productName" matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Character Species</mat-label>
            <mat-select formControlName="species" placeholder="Species">
                <mat-option value="Uno">Uno</mat-option>
                <mat-option value="Dos">Dos</mat-option>
                <mat-option value="Tres">Tres</mat-option>
            </mat-select>
          </mat-form-field>
          <label for=""><h1>LaLista</h1></label>
          <mat-radio-group formControlName="freshness" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh">
                {{fresh}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Character Origin</mat-label>
            <input formControlName="origin" matInput placeholder="Origin">
          </mat-form-field>
    </div>
</form>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button class="button__save" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>